{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <h3 class="display-4">To-Do App</h3>
    <p class="lead">Leon's to-do app 'Today, Ta-Da!'.</p>
    <input type="button" onclick="alert('v1.1 beta')" value="ABOUT">
  </div>

  <div class="row">
    <form action="/add-item" method="POST">
      <div class="form">
        <input type="submit" value="Add todo item">
        <br>
        <label for="title">Todo item title: </label>
        <input type="text" name="title" id="title" required>
      </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <br>
      <h5>Todo</h5>
        <ul class="list-group mb-4">
        {% for item in view_model.todo_items %}
          {{item.name}} <br> <!--was item.title-->
        {% endfor %}
        </ul>
      <h5>Doin</h5>
        <ul class="list-group mb-4">
        {% for item in view_model.doin_items %}
          {{item.name}} <br>
        {% endfor %}
        </ul>
      <h5>Done</h5>
        <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          {{item.name}} <br>
        {% endfor %}
        </ul>
   </div>
   <br><br>
  </form>

  <div class="row">
    <form action="/upd-item" method="POST">
      <br>
      <br>
   <h5>Select Item to action</h5>
   <br>
      <label for="item">Item</label>
      <select name="selected_item" id="item">
        <optgroup label="Todo">
          {% for item in view_model.todo_items %}
          <option value="{{item.name}}">{{item.name}}</option>  <!--was item.title-->
          {% endfor %}
        </optgroup>
        <optgroup label="Doin">
          {% for item in view_model.doin_items %}
          <option value="{{item.name}}">{{item.name}}</option>
          {% endfor %}
        </optgroup>
        <optgroup label="Done">
          {% for item in view_model.done_items %}
          <option value="{{item.name}}">{{item.name}}</option>
          {% endfor %}
        </optgroup>
      </select>
      <input type="submit" formaction="/del-item" value="Delete todo item">
            <!--<input type="submit" value="Select" />-->
      <br>
      <br>
        <h5>Update Item</h5>
      <br>
      <label for="title">Updated title: </label>
        <input type="text" name="upd_title" id="upd_title">
        <br>
        <script>
          const dropDown = document.getElementById('item');
          const textBox = document.getElementById('upd_title');
          dropDown.addEventListener('change', (event) => {
            const selectedItem = event.target.value;
            textBox.value = selectedItem;
            textBox.select();
          });
        </script>

      <label for="title">Updated status: </label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="status" id="option1" autocomplete="off" value="64ae6f476f946f8c451a5cb9" checked> Todo
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="status" id="option2" autocomplete="off" value="64ae6f476f946f8c451a5cba" > Doin
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="status" id="option3" autocomplete="off" value="64ae6f476f946f8c451a5cbb" > Done
          </label>
          <br>
       </div>
      <br>
      <input type="submit" formaction="/upd-item" value="Update todo item">
    </form>
  </div> 
{% endblock %}